* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.button {
  color: #db1c48;
  border: #db1c48 solid 2px;
  border-radius: 6px;
  background-color: transparent;
}

.active-button {
  color: #000000;
  background-color: #db1c48;
}

img {
  width: 400px;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  margin-left: 10px;
}
